/* starting style */
*{
    padding: 0px;
    margin: 0px;
}
/* give body some style */
body{
    background-color:#000000 ;
    background-size: cover;
}

header h1 {
    color: #2d2d81;
    text-align: center;
    margin-top: 30px;
}  

hr {
    color: #d6b4bb;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#content #data{
    text-align: center;
    margin-top: 40px;
    color: #c7c1c1;
    font-size: 50px;

}
/* give  input title some style  */
#content #data #title{
    width: 200px;
    height:30px;
    text-align: center;
    font-size: 20px;
}
/* give input date and time some style  */
#content #data #date{
    width: 200px;
    height:30px;
    text-align: center;
    font-size: 20px;
}
/* give button some style before passing by */
#content #data button {
    color: #290d36;
    width: 200px;
    height:30px;
    font-size: 20px;
    border-color: #162c6e;
    background-color: #fff;
    text-align: center;

}
/* give button some style when passing by */
#content #data button:hover{
    color: #a89cad;
    border-color: #a8b2ce;
    background-color: #241433;
}
/* give event content some style */
#content #countdown {
    text-align: center;
    margin-top: 80px;
    color: #c7c1c1;
    font-size: 50px;
    margin-left: 10px;

}